

.Home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    padding: 10px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(55, 94, 99) 50%, rgb(249, 247, 247) 100%);
}

@media only screen and (max-width: 600px) {
    .Home {
        height: 1200px; 
        padding: 5px;  
        background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(55, 94, 99) 50%, rgb(249, 247, 247) 100%);
    }
    .Container{
        margin-top:50px ;
        color:white;
        display:flex;
        flex-direction:column;
        padding:30px;
        justify-content: center;
        align-items: center;
    }
    ul,li{
        list-style-type:none;
        display:flex;
        justify-content: space-between;
        padding-right: 50px;
    
    }
    
    form {
        display: flex;
        align-items: center;
      }
      
      input[type="text"] {
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
        border-radius: 8px;
        width:360px
      }
      
      button {
        padding: 8px 16px;
        background-color: #4ed91796;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #0056b3;
      }
    
      .sub1{
        margin-bottom:17px;
      }
    
    .sub3{
        padding:12px ;
        width:700px;
        height:80px;
        display:flex;
        margin-top:6px;
        
    }
    .cardcollection{
        margin-top:10px;
        display:flex;
        justify-content: center;
        align-items: center;
        width:70%;
        height:500px;
        background-color: white;
        border-radius:8px; 
    }
    .Card{
        height:400px;
        width:30%;
        margin-top:26px;
        background-color: white;
        border-radius:8px;
        margin-left:25px;
    }
    .cardhead1{
     width:100%;
     height:100px;
     background: linear-gradient(90deg, rgba(179, 115, 29, 1) 0%, rgba(87, 43, 4, 1) 100%);
     border-radius:8px 8px 0px 0px;
     display:flex;
     
    }
    .cardhead2{
        width:100%;
        height:100px;
        background: linear-gradient(90deg, rgba(72, 182, 174, 1) 0%, rgba(14, 44, 41, 1) 100%);
        border-radius:8px 8px 0px 0px;
        display:flex;
       }
    .cardhead3{
        width:100%;
        height:100px;
        background: linear-gradient(90deg, rgba(70, 160, 185, 1) 0%, rgba(14, 44, 41, 1) 100%);
        border-radius:8px 8px 0px 0px;
        display:flex;
       }
    .cardbody{
        width:100%;
    }
    .heading{
        margin:35px;
        color:white;
        font-weight:800;
        
    }
    .heading2{
        color:white;
        font-weight:800;
    }
    
    
    .desc{
        margin:10px;
    }
    .bookNow{
        margin-top:20px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .Home {
        height: 1000px; 
        padding: 8px;  
        background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(55, 94, 99) 50%, rgb(249, 247, 247) 100%);
       
    }
    .Container{
        margin-top:50px ;
        color:white;
        display:flex;
        flex-direction:column;
        padding:30px;
        justify-content: center;
        align-items: center;
    }
    ul,li{
        list-style-type:none;
        display:flex;
        justify-content: space-between;
        padding-right: 50px;
    
    }
    
    form {
        display: flex;
        align-items: center;
      }
      
      input[type="text"] {
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
        border-radius: 8px;
        width:360px
      }
      
      button {
        padding: 8px 16px;
        background-color: #4ed91796;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #0056b3;
      }
    
      .sub1{
        margin-bottom:17px;
      }
    
    .sub3{
        padding:12px ;
        width:700px;
        height:80px;
        display:flex;
        margin-top:6px;
        
    }
    .cardcollection{
        margin-top:10px;
        display:flex;
        align-items: center;
        justify-content: center;
        width:85%;
        height:600px;
        background-color: white;
        border-radius:8px;
        margin-left:50px;
        
    }
    .Card{
        height:500px;
        width:28%;
        margin-top:10px;
        background-color: white;
        border-radius:8px;
        margin-left:10px;
    }
    .cardhead1{
     width:100%;
     height:100px;
     background: linear-gradient(90deg, rgba(179, 115, 29, 1) 0%, rgba(87, 43, 4, 1) 100%);
     border-radius:8px 8px 0px 0px;
     display:flex;
     
    }
    .cardhead2{
        width:100%;
        height:100px;
        background: linear-gradient(90deg, rgba(72, 182, 174, 1) 0%, rgba(14, 44, 41, 1) 100%);
        border-radius:8px 8px 0px 0px;
        display:flex;
       }
    .cardhead3{
        width:100%;
        height:100px;
        background: linear-gradient(90deg, rgba(70, 160, 185, 1) 0%, rgba(14, 44, 41, 1) 100%);
        border-radius:8px 8px 0px 0px;
        display:flex;
       }
    .cardbody{
        width:100%;
    }
    .heading{
        margin:35px;
        color:white;
        font-weight:800;
        
    }
    .heading2{
        color:white;
        font-weight:800;
    }
   
    
    .desc{
        margin:10px;
    }
    .bookNow{
        margin-top:20px;
    }
}


@media only screen and (min-width: 901px) {
    .Home {
        margin-left:0px;
        height:850px; 
        padding: 10px; 
        background: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgb(55, 94, 99) 50%);
        
    }
    .Outerdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .Container{
        margin-top:50px ;
        color:white;
        display:flex;
        flex-direction:column;
        padding:30px;
        justify-content: center;
        align-items: center;
    }
    ul,li{
        list-style-type:none;
        display:flex;
        justify-content: space-between;
        padding-right: 50px;
    
    }
    
    
      
      button {
        padding: 8px 16px;
        background-color: #16f50a96;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: aqua;
        color:black;
      }
      .sub1{
        margin-bottom:17px;
      }
    
    .sub3{
        padding:12px ;
        width:900px;
        height:80px;
        display:flex;
        margin-top:6px;
        margin-left:150px;
        
    }
    .cardcollection{
        margin-top:10px;
        display:flex;
        width:70%;
        height:500px;
        background-color: white;
        border-radius:8px; 
    }
    .Card{
        height:400px;
        width:30%;
        margin-top:26px;
        background-color: white;
        border-radius:8px;
        margin-left:25px;
    }
    .cardhead1{
     width:100%;
     height:100px;
     background: linear-gradient(90deg, rgba(179, 115, 29, 1) 0%, rgba(87, 43, 4, 1) 100%);
     border-radius:8px 8px 0px 0px;
     display:flex;
     
    }
    .cardhead2{
        width:100%;
        height:100px;
        background: linear-gradient(90deg, rgba(72, 182, 174, 1) 0%, rgba(14, 44, 41, 1) 100%);
        border-radius:8px 8px 0px 0px;
        display:flex;
       }
    .cardhead3{
        width:100%;
        height:100px;
        background: linear-gradient(90deg, rgba(70, 160, 185, 1) 0%, rgba(14, 44, 41, 1) 100%);
        border-radius:8px 8px 0px 0px;
        display:flex;
       }
    .cardbody{
        width:100%;
    }
    .heading{
        display:flex;
        width:500px;
        margin-left:35px;
        margin-top:35px;
        color:white;
        font-weight:800;
        
    }
    .heading2{
        color:white;
        font-weight:800;
    }
    
    .desc{
        margin:10px;
        align-items:justify;
    }
    .bookNow{
        margin-top:20px;
    }
}

